USE [master]
GO
/****** Object:  Database [eButler]    Script Date: 27/9/2022 1:44:20 PM ******/
CREATE DATABASE [eButler]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'eButler', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\eButler.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'eButler_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\eButler_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [eButler].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [eButler]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 27/9/2022 1:44:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](20) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Role_ID] [int] NOT NULL,
	[Name] [varchar](100) NULL,
	[Phone] [varchar](15) NULL,
	[Email] [varchar](50) NULL,
	[Address] [varchar](100) NULL,
	[Introduce] [varchar](500) NULL,
	[Image] [varchar](100) NULL,
	[IsStatus] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 27/9/2022 1:44:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Account_ID] [int] NOT NULL,
	[Service_ID] [int] NOT NULL,
	[Service_Name] [varchar](50) NOT NULL,
	[Service_Quantity] [int] NOT NULL,
	[Service_Price] [int] NOT NULL,
	[Total_Price] [int] NOT NULL,
	[Status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 27/9/2022 1:44:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[Description] [varchar](500) NOT NULL,
	[Status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feeback]    Script Date: 27/9/2022 1:44:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feeback](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Description] [varchar](500) NULL,
	[Req_Time] [date] NOT NULL,
	[Account_ID] [int] NOT NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Feeback] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 27/9/2022 1:44:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Account_ID] [int] NOT NULL,
	[Order_Address] [varchar](100) NOT NULL,
	[Order_Email] [varchar](50) NOT NULL,
	[Order_TIme] [date] NOT NULL,
	[Order_Status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 27/9/2022 1:44:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Order_ID] [int] NOT NULL,
	[Service_ID] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 27/9/2022 1:44:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Role_Name] [varchar](20) NOT NULL,
	[Role_Detail] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 27/9/2022 1:44:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](500) NOT NULL,
	[Category_ID] [int] NOT NULL,
	[Supplier_ID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Working_Time] [varchar](50) NOT NULL,
	[Release_Time] [date] NOT NULL,
	[Image] [varchar](500) NULL,
	[Status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service_Cart]    Script Date: 27/9/2022 1:44:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service_Cart](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Cart_ID] [int] NULL,
	[Service_ID] [int] NULL,
 CONSTRAINT [PK_Service_Cart] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 27/9/2022 1:44:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Account_ID] [int] NULL,
	[Supplier_Name] [varchar](50) NOT NULL,
	[Address] [varchar](100) NOT NULL,
	[Phone] [varchar](15) NOT NULL,
	[Status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([ID], [Username], [Password], [Role_ID], [Name], [Phone], [Email], [Address], [Introduce], [Image], [IsStatus]) VALUES (1, N'admin', N'admin', 1, N'Admin1', NULL, NULL, NULL, NULL, NULL, N'active')
INSERT [dbo].[Account] ([ID], [Username], [Password], [Role_ID], [Name], [Phone], [Email], [Address], [Introduce], [Image], [IsStatus]) VALUES (2, N'user', N'1', 2, N'Customer 1', N'0909000990', NULL, NULL, NULL, NULL, N'active')
INSERT [dbo].[Account] ([ID], [Username], [Password], [Role_ID], [Name], [Phone], [Email], [Address], [Introduce], [Image], [IsStatus]) VALUES (3, N'seller', N'1', 3, N'Seller 1', N'09999', NULL, NULL, NULL, NULL, N'active')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [Name], [Description], [Status]) VALUES (1, N'Gas', N'Gas', N'active')
INSERT [dbo].[Category] ([ID], [Name], [Description], [Status]) VALUES (2, N'Electric', N'Electric', N'active')
INSERT [dbo].[Category] ([ID], [Name], [Description], [Status]) VALUES (3, N'Rice', N'Rice', N'active')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID], [Role_Name], [Role_Detail]) VALUES (1, N'admin', N'Administrator')
INSERT [dbo].[Role] ([ID], [Role_Name], [Role_Detail]) VALUES (2, N'customer', N'Customer')
INSERT [dbo].[Role] ([ID], [Role_Name], [Role_Detail]) VALUES (3, N'supplier', N'Seller')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([ID], [Name], [Description], [Category_ID], [Supplier_ID], [Quantity], [Price], [Working_Time], [Release_Time], [Image], [Status]) VALUES (1, N'Gas Binh Minh do', N'Gas Binh Minh mau do', 1, 1, 57, 300000, N'8h00 - 22h00', CAST(N'2020-07-27' AS Date), NULL, N'available')
INSERT [dbo].[Service] ([ID], [Name], [Description], [Category_ID], [Supplier_ID], [Quantity], [Price], [Working_Time], [Release_Time], [Image], [Status]) VALUES (2, N'Gas Binh Minh xanh', N'Gas Binh Minh mau xanh', 1, 1, 53, 300000, N'8h00 - 22h00', CAST(N'2020-07-27' AS Date), NULL, N'available')
INSERT [dbo].[Service] ([ID], [Name], [Description], [Category_ID], [Supplier_ID], [Quantity], [Price], [Working_Time], [Release_Time], [Image], [Status]) VALUES (3, N'Gas Binh Minh vang', N'Gas Binh Minh mau vang', 1, 1, 50, 300000, N'8h00 - 22h00', CAST(N'2020-07-29' AS Date), NULL, N'available')
SET IDENTITY_INSERT [dbo].[Service] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([ID], [Account_ID], [Supplier_Name], [Address], [Phone], [Status]) VALUES (1, 3, N'Gas Binh Minh', N'12A Truong Trinh', N'0121984120', N'active')
INSERT [dbo].[Supplier] ([ID], [Account_ID], [Supplier_Name], [Address], [Phone], [Status]) VALUES (2, 3, N'Petrolimex Gas', N'147C Tan Phu', N'0747894522', N'active')
INSERT [dbo].[Supplier] ([ID], [Account_ID], [Supplier_Name], [Address], [Phone], [Status]) VALUES (3, 3, N'Siam Gas', N'275 Ly Chinh Thang', N'0417845112', N'active')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Account] FOREIGN KEY([Account_ID])
REFERENCES [dbo].[Account] ([ID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Account]
GO
ALTER TABLE [dbo].[Feeback]  WITH CHECK ADD  CONSTRAINT [FK_Feeback_Account] FOREIGN KEY([Account_ID])
REFERENCES [dbo].[Account] ([ID])
GO
ALTER TABLE [dbo].[Feeback] CHECK CONSTRAINT [FK_Feeback_Account]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Account] FOREIGN KEY([Account_ID])
REFERENCES [dbo].[Account] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Account]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Order] ([ID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Service] FOREIGN KEY([Service_ID])
REFERENCES [dbo].[Service] ([ID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Service]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [FK_Service_Category] FOREIGN KEY([Category_ID])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [FK_Service_Category]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [FK_Service_Supplier] FOREIGN KEY([Supplier_ID])
REFERENCES [dbo].[Supplier] ([ID])
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [FK_Service_Supplier]
GO
ALTER TABLE [dbo].[Service_Cart]  WITH CHECK ADD  CONSTRAINT [FK_Service_Cart_Cart] FOREIGN KEY([Cart_ID])
REFERENCES [dbo].[Cart] ([ID])
GO
ALTER TABLE [dbo].[Service_Cart] CHECK CONSTRAINT [FK_Service_Cart_Cart]
GO
ALTER TABLE [dbo].[Service_Cart]  WITH CHECK ADD  CONSTRAINT [FK_Service_Cart_Service] FOREIGN KEY([Service_ID])
REFERENCES [dbo].[Service] ([ID])
GO
ALTER TABLE [dbo].[Service_Cart] CHECK CONSTRAINT [FK_Service_Cart_Service]
GO
ALTER TABLE [dbo].[Supplier]  WITH CHECK ADD  CONSTRAINT [FK_Supplier_Account] FOREIGN KEY([Account_ID])
REFERENCES [dbo].[Account] ([ID])
GO
ALTER TABLE [dbo].[Supplier] CHECK CONSTRAINT [FK_Supplier_Account]
GO
USE [master]
GO
